@font-face {
  font-family: "Gotham";
  font-weight: 500;
  font-display: swap;
  src: url("./gotham_medium.otf");
}

@font-face {
  font-family: "Gotham";
  font-weight: 400;
  font-display: swap;
  src: url("./gotham_book.otf");
}

@font-face {
  font-family: "Alumni Sans";
  font-weight: 700;
  font-display: swap;
  src: url("./AlumniSans-Bold.ttf");
}
