.score {
  display: flex;
  gap: 1.25em;
  align-items: center;
}

.score span {
  font-family: "Gotham";
  font-weight: 500;
  color: white;
  font-size: 1.25rem;
  padding: 0.25em 1.25em;
  background-color: #13151c;
  border-radius: 10px;

  @media screen and (max-width: 768px) {
    font-size: 0.875rem;
  }
}

.result {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  margin-bottom: 1.875em;
}

.result:last-child {
  margin-bottom: 0;
}

.result p {
  font-size: 1.125rem;
  font-family: "Gotham";
  line-height: 1.4;
  color: white;
  font-weight: 500;

  @media screen and (max-width: 768px) {
    font-size: 0.75rem;
  }
}

.margins {
  margin-top: 10em;
  margin-bottom: 10em;

  @media screen and (max-width: 768px) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
